/*reset de página*/
*{
    margin:0;
}
.cabecalho{
    background-color: blueviolet;
    display:flex;
    justify-content: space-between;
}
 align-items: center;
}
.cabecalho-titulo{
    color:white;
    padding:10px
}
span{
    font-weight: bold;
    color:red;
}

.cabecalho-itens{
    display:flex;
}
.cabecalho-itens-menu{
    padding:20px;
}
.conteudo-principal{
        display: block;
    unicode-bidi: isolate;
}
.secao-problema{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 5%;
    min-height: 80vh;
    gap: 30px;
}
.problema{
    flex: 1;
}
.titulo-problema{
    font-size: 3rem;
    color:black;
    line-height: 1.2;
    margin-bottom: 20px;
}
.paragrafo-problema{
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #4b0365;
}
.botao-problema{
        display: inline-block;
    background-color: var(--primary-color);
    color: rgb(18, 17, 18);
    text-decoration: none;
    padding: 15px 35px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 1.1rem;
    box-shadow: 0 4px 15px rgba(129, 3, 214, 0.4);
    transition: all 0.3s;
}
.imagem-problema{
    flex: 1;
    display: flex;
    justify-content: center;
}
.imagem-problema{
    width: 100%;
    max-width: 550px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}